{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align:center">{% block title %}Search A Crime{% endblock %}</h1>
    <form method="post">
        <label for="dr_no">Division of Records Number:</label><br>
        <input class="textbox" type="text" id="dr_no" name="dr_no" value="{{ request.form['dr_no'] }}" required><br><br>
        <input type="submit" value="Search">
    </form>

    <br>
    <div style="overflow-x:auto;">
        <table class="center">
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>

            {% for row in data %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}
